@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    flex: 0 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main */
main {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.player-grid,
.computer-grid {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    border: 1px solid black;
}

.player-status,
.computer-status {
    text-align: center;
    margin-top: -300px;
    margin-bottom: 100px;
    font-size: 1.5rem;
}

.squares {
    border: 1px solid rgb(175, 175, 175);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.squares:disabled {
    background-color: rgb(225, 225, 225);
}

.squares:hover {
    background-color: rgb(200, 200, 200);
}

/* Footer */
footer {
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
